<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="skin" value=""/>
    <add key="conStr" value="Server=localhost;User Id=postgres;Password=1234;Database=test;"/>
    <add key="ServerHost" value="wHTH8UEtpJ8DB2dSFCJlWQ=="/>
    <add key="ServerPort" value="x2MWpTKER2A="/>
    <add key="Username" value="X/wuKluTVg2Z6cqR1FXIJQ=="/>
    <add key="Password" value="VbrmL6qGNvI="/>
    <add key="Database" value="HBSHbUsxLqZNT9jemFTnXw=="/>
    <add key="ServerHost_MeL" value="wHTH8UEtpJ8DB2dSFCJlWQ==" />
    <add key="ServerPort_MeL" value="x2MWpTKER2A=" />
    <add key="Username_MeL" value="X/wuKluTVg2Z6cqR1FXIJQ==" />
    <add key="Password_MeL" value="VbrmL6qGNvI=" />
    <add key="Database_MeL" value="Q7drmpK9vyGrCTUOMCaAXA==" />
    <add key="checkEditNhoPass" value="True"/>
    <add key="LoginUser" value="KgyxW9jqNcc="/>
    <add key="LoginPassword" value="E36w19IK+gaPIT7K1d/6sw=="/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
